/* Scss Document */
/*# Secondary Page/Widgets/setA #*/
.secondary-wrapper .widget-wrapper { font-family: Helvetica, Arial, sans-serif; margin-bottom: 50px; }
.secondary-wrapper .widget-block .SidebarText { color: #7d7d7d; font-size: 12px; margin-top: 10px; }
.secondary-wrapper .SidebarWrapper .SidebarTitle,
.secondary-wrapper .widget-wrapper .connect-title { color: #940031; font-size: 18px; font-weight: bold; margin: 15px 0 10px; padding-top: 15px; border-top: 1px solid #cbcbcb; text-transform: uppercase; }
.secondary-wrapper .widget-wrapper h2 { color: #940031; font-size: 18px; font-weight: bold; margin: 15px 0 10px; padding-top: 15px; border-top: 1px solid #cbcbcb; }
.secondary-wrapper .SidebarWrapper .SidebarListText { font-style: italic; margin-bottom: 5px; font-size: 12px; color: #707070; }
.secondary-wrapper .SidebarWrapper .SidebarListText a,
.secondary-wrapper .widget-wrapper ul.LinksList li a { font-style: normal; display: block; color: #49494a; font-size: 14px; font-weight: bold;}
.secondary-wrapper .SidebarWrapper .SidebarListText a:hover,
.secondary-wrapper .widget-wrapper ul.LinksList li a:hover { opacity: 0.8; text-decoration: none; }
.secondary-wrapper .widget-wrapper .SidebarListMyFavorites,
.secondary-wrapper .widget-wrapper .SidebarListIcon,
.secondary-wrapper .widget-wrapper .addtofavorites,
.secondary-wrapper .widget-wrapper .downloadnow { display: none; }
.secondary-wrapper .widget-wrapper .SidebarList ul { list-style: none; padding: 0; }
.secondary-wrapper .widget-wrapper .ExternalTwitterFeed ul { list-style: none; padding: 0; font-size: 12px; }
.secondary-wrapper .widget-wrapper .ExternalTwitterFeed ul li { margin-bottom: 10px; }
.twitter-wrapper iframe { width: 100%; }
.secondary-wrapper .widget-wrapper ul.LinksList { list-style: none; padding: 0; }
.secondary-wrapper .widget-wrapper ul.LinksList li a { margin-bottom: 5px; }
.secondary-wrapper .widget-wrapper .ConnectWithUs .Staff .controls { margin: 0 0 5px 0; }
.secondary-wrapper .widget-wrapper .ConnectWithUs .Staff .controls a { font-size: 11px; color: #878787; }
.secondary-wrapper .widget-wrapper .ConnectWithUs .Staff .controls .button { cursor: pointer; height: 16px; width: 16px; background: #81172b; position: relative; float: left; margin: 0 5px 0 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.secondary-wrapper .widget-wrapper .ConnectWithUs .Staff .controls .button:after { content: ""; border-top: 5px solid transparent; border-bottom: 5px solid transparent; position: absolute; top: 2px; left: 5px; }
.secondary-wrapper .widget-wrapper .ConnectWithUs .Staff .controls .button.left:after { border-right: 5px solid #fff; }
.secondary-wrapper .widget-wrapper .ConnectWithUs .Staff .controls .button.right:after { border-left: 5px solid #fff; }
.secondary-wrapper .widget-wrapper .ConnectWithUs .Staff .photo { float: left; padding: 3px; box-shadow: 2px 2px 5px rgba(0,0,0,0.5); margin: 0 10px 10px 0; }
.secondary-wrapper .widget-wrapper .ConnectWithUs .Staff .name { font-size: 18px; font-weight: bold; color: #272727; }
.secondary-wrapper .widget-wrapper .ConnectWithUs .Staff .title { font-size: 11px; color: #565656; }
.secondary-wrapper .widget-wrapper .ConnectWithUs .Staff .contact { margin: 0 0 5px 0; }
.secondary-wrapper .widget-wrapper .ConnectWithUs .Staff .contact a { font-size: 13px; font-weight: bold; color: #801428; margin: 0 3px; }
.secondary-wrapper .widget-wrapper .ConnectWithUs .Staff .bio { font-size: 11px; color: #565656; }
